<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#brand-header" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/design-system/">
        <img class="navbar-brand-images"src="{{ site.baseurl }}/assets/images/logo/sprout.svg" alt="">
        <span class="navbar-brand-text">Product Name</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="brand-header">
      <ul class="nav navbar-nav navbar-right nav-lg">
        <li><a href="">Nav Item</a></li>
        <li><a href="">Nav Item</a></li>
        <li><a href="">Nav Item</a></li>
        <li><a href="">Nav Item</a></li>
      </ul>
    </div>
  </div>
</nav>
