<div data-spy="affix">
  <div class="sidebar hidden-print" id="sidebar">
    <ul class="nav sidenav">
      <li class="active">
        <a href="#css">CSS</a>
        <ul class="nav">
          <li><a href="#colors">Color</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#buttons">Buttons</a></li>
          <li><a href="#forms">Forms</a></li>
          <li><a href="#images">Images</a></li>
          <li><a href="#tables">Tables</a></li>
          <li><a href="#utilities">Utilities</a></li>
        </ul>
      </li>
    </ul>
    <a class="back-to-top" href="#top">Back to top</a>
  </div>

  <!-- builddist:section sidebarBanners -->
  <!-- /builddist -->
</div>
