// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border: $background, $color: $white) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 10%);

  color: $color;
  background-color: $background;
  border-color: darken($border, 10%);;
  // @include box-shadow($btn-box-shadow);

  // Hover and focus styles are shared
  @include hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      // box-shadow: $btn-box-shadow, 0 0 0 2px rgba($border, .5);
    } @else {
      // box-shadow: 0 0 0 2px rgba($border, .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $default-disabled-color;
    background-color: $default-disabled-bg;
    border-color: $default-disabled-border;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
    background-image: none; // Remove the gradient for the pressed/active state
    border-color: $active-border;
    // @include box-shadow($btn-active-box-shadow);
  }
}

@mixin button-outline-variant($color, $color-hover: #FFFFFF) {
  $active-background: darken($color, 10%);
  $active-border: darken($color, 10%);

  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  @include hover {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }

  &:focus,
  &.focus {
    // box-shadow: 0 0 0 2px rgba($color, .5);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $default-color;
    background-color: transparent;
    border-color: $default-disabled-border;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius, $height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
  height: $height;
}

@mixin button-pills($padding-vertical, $padding-horizontal, $border-radius) {
  &.btn-pills {
    padding: $padding-vertical ($padding-horizontal * 2);
    border-radius: $border-radius;
  }
}
