// Typography

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    // color: $color !important;
    color: $color;
  }
  a#{$parent} {
    @include hover-focus {
      color: darken($color, 15%) !important;
    }
  }
}


// CSS image replacement

@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


// Text overflow
// Requires inline-block or block for proper styling

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Text truncate
// Requires inline-block or block for proper styling

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
