<p class="js-html-inspector" data-remove-target="p:first">
  <span class="label label-default">Label Default</span>
  <!-- <span class="label label-light">Label Light</span> -->
  <!-- <span class="label label-dark">Label Dark</span> -->
  <span class="label label-primary">Label Primary</span>
  <!-- <span class="label label-secondary">Label Secondary</span> -->
  <span class="label label-success">Label Success</span>
  <span class="label label-info">Label Info</span>
  <span class="label label-warning">Label Warning</span>
  <span class="label label-danger">Label Danger</span>
</p>
