<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/assets/js/functions.js"></script>
<script src="{{ site.baseurl }}/assets/js/custom-tour.js"></script>
<script src="{{ site.baseurl }}/assets/js/brand.js"></script>


<!-- Plugins -->
<script src="{{ site.baseurl }}/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
  $('.datepicker').datepicker({
    todayBtn: "linked",
    orientation: "right",
    autoclose: true,
    todayHighlight: true,
    datesDisabled: ['05/06/2017', '05/21/2017'],
    toggleActive: true
  });

  $('.input-daterange').datepicker({
    todayBtn: "linked",
    orientation: "right",
    autoclose: true,
    todayHighlight: true,
    datesDisabled: ['05/06/2017', '05/21/2017'],
    toggleActive: true
  });

</script>

<script src="{{ site.baseurl }}/assets/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script type="text/javascript">
  $('.selectpicker').selectpicker({
    style: 'btn-default',
    template: {
      caret: '<span class="fa fa-angle-down fa-lg"></span>'
    },
  });
</script>

<script src="{{ site.baseurl }}/assets/plugins/bootstrap-number-spinner/js/bootstrap-number-spinner.js"></script>

<script src="{{ site.baseurl }}/assets/plugins/bootstrap-tour/js/bootstrap-tour.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/bootstrap-tour/vendor/jquery.smoothscroll.js"></script>
