<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/assets/images/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/assets/images/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/assets/images/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/assets/images/mstile-310x310.png" />
<meta name="application-name" content="{{ page.meta-title }} | Sprout Solutions" />
<meta name="msapplication-TileColor" content="#6C9B41" />
<meta name="theme-color" content="#6C9B41" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
