

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sprout.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ layout.style-sheets }}">



<!-- Plugins -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap-select/css/bootstrap-select.css">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap-tour/css/bootstrap-tour.css">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap-tour/vendor/pygments-manni.css">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/get-orgchart/getorgchart.css">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/get-orgchart/getorgchart-custom.css">


