<div class="section section-success section-editable" id="job-working-conditions">
  <div class="section-heading">
    <span class="section-action">
      <a href="#" class="btn btn-link toggle-btn" data-edit-mode="#job-working-conditions .edit-mode" data-view-mode="#job-working-conditions .view-mode" data-footer="#job-working-conditions .section-footer">
        <span class="fa fa-pencil"></span>
      </a>
    </span>
    <h6 class="section-title display-4">Working Condition</h6>
    <p class="section-subtitle">Conditions at work, such as work schedule, shift type, environment, and cultural demands. Optional.</p>
  </div>
  <div class="section-body view-mode">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mar-bottom-2">
        <p class="small-label">Shift Type</p>
        <p>Night Shift</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mar-bottom-2">
        <p class="small-label">No. Of Hours In A Day</p>
        <p>9</p>
      </div>
      <div class="col-xs-12">
        <p class="small-label">Conditions and Environment</p>
        <p class="line-height-lg">We are looking for a Ruby on Rails developer responsible for managing the interchange of data between the server and the users. Your primary focus will be development of all server-side logic, definition and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end. You will also be responsible for integrating the front-end elements built by your co-workers into the application. Therefore, a basic understanding of front-end technologies is necessary as well.</p>
      </div>
    </div>
  </div>
  <div class="section-body edit-mode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="form-label">Shift Type</label>
          <select class="form-control" name="">
            <option value="" selected disabled>Select Shift Type</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="form-label">No. Of Hours In A Day</label>
          <select class="form-control" name="">
            <option value="" selected disabled>Select No. Of Hours In A Day</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="form-label">Condition &amp; Environment</label>
          <textarea name="name" class="form-control" placeholder="Enter Condition &amp; Environment"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="section-footer">
    <a href="#" class="btn btn-link">Cancel</a>
    <a href="#" class="btn btn-primary">Save Changes</a>
  </div>
</div>
