<div class="section section-success section-editable" id="job-benefits-and-perks">
  <div class="section-heading">
    <span class="pull-right">
      <a href="#" class="btn btn-link toggle-btn" data-edit-mode="#job-benefits-and-perks .edit-mode" data-view-mode="#job-benefits-and-perks .view-mode" data-footer="#job-benefits-and-perks .section-footer">
        <span class="fa fa-pencil"></span>
      </a>
    </span>
    <h6 class="section-title display-4">Benefits &amp; Perks</h6>
    <p class="section-subtitle">Other monetary benefits outside the basic pay that an applicant will be eligible to, such as transportation allowance, meal allowance, clothing allowance, etc. Optional.</p>
  </div>
  <div class="section-body view-mode">
    <p class="lead">Government Mandated Benefits</p>
    <ul class="list list-bullet list-columns two-columns">
      <li>13th Month Pay</li>
      <li>Night Shift Differential</li>
      <li>Overtime Pay</li>
      <li>Pag-Ibig</li>
      <li>PhilHealth</li>
      <li>Social Security System</li>
    </ul>
    <p class="lead">Leaves</p>
    <ul class="list list-bullet list-columns two-columns">
      <li>Bereavement</li>
      <li>Birthday</li>
      <li>Emergency</li>
      <li>Emergency</li>
      <li>Magna Carta for Women</li>
      <li>Maternity</li>
      <li>Paternity</li>
      <li>Sick</li>
      <li>Solo Parent</li>
      <li>Vacation</li>
      <li>Violation Against Women (VAWC)</li>
    </ul>
    <p class="lead">Additional Pay</p>
    <ul class="list list-bullet list-columns two-columns">
      <li>De Minimis</li>
      <li>Location Package</li>
      <li>Mileage Reimbursements</li>
      <li>Performance Bonus</li>
      <li>Reimbursements for Expenses</li>
      <li>Sign In Bonus</li>
    </ul>
    <p class="lead">Insurance</p>
    <ul class="list list-bullet list-columns two-columns">
      <li>Health</li>
      <li>Life</li>
    </ul>
    <p class="lead">Other Benefits <a href="#" data-toggle="tooltip" data-placement="right" title="Other benefits that an applicant will be eligible to, such as boarding house, shuttle service, free lunch, etc. Optional."><span class="fa fa-info-circle" aria-hidden="true"></span></a></p>
    <ul class="list list-bullet list-columns two-columns">
      <li>Boarding House</li>
      <li>Shuttle Service</li>
      <li>Muay Thai Lessons</li>
    </ul>
  </div>
  <div class="section-body edit-mode">
    <p class="lead">Government Mandated Benefits</p>
    <ul class="list list-columns two-columns">
      <li class="form-checkbox">
        <label><input type="checkbox">13th Month Pay</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Night Shift Differential</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Overtime Pay</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Pag-Ibig</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">PhilHealth</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Social Security System</label>
      </li>
    </ul>
    <p class="lead">Leaves</p>
    <ul class="list list-columns two-columns">
      <li class="form-checkbox">
        <label><input type="checkbox">Bereavement</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Birthday</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Emergency</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Emergency</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Magna Carta for Women</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Maternity</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Paternity</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Sick</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Solo Parent</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Vacation</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Violation Against Women (VAWC)</label>
      </li>
    </ul>
    <p class="lead">Additional Pay</p>
    <ul class="list list-columns two-columns">
      <li class="form-checkbox">
        <label><input type="checkbox">De Minimis</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Location Package</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Mileage Reimbursements</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Performance Bonus</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Reimbursements for Expenses</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Sign In Bonus</label>
      </li>
    </ul>
    <p class="lead">Insurance</p>
    <ul class="list list-columns two-columns">
      <li class="form-checkbox">
        <label><input type="checkbox">Health</label>
      </li>
      <li class="form-checkbox">
        <label><input type="checkbox">Life</label>
      </li>
    </ul>
    <p class="lead">Other Benefits <a href="#" data-toggle="tooltip" data-placement="right" title="Other benefits that an applicant will be eligible to, such as boarding house, shuttle service, free lunch, etc. Optional."><span class="fa fa-info-circle" aria-hidden="true"></span></a></p>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="" value="" class="form-control" placeholder="Enter Other Benefits">
            <span class="input-group-btn">
              <a href="#" class="btn btn-link">
                <span class="fa fa-times"></span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <a href="#"><span class="fa fa-plus fa-right"></span>Add responsibility</a>
  </div>
  <div class="section-footer">
    <a href="#" class="btn btn-link">Cancel</a>
    <a href="#" class="btn btn-primary">Save Changes</a>
  </div>
</div>
