<div class="section section-success section-editable" id="job-justification-notes">
  <div class="section-heading">
    <span class="pull-right">
      <a href="#" class="btn btn-link toggle-btn" data-edit-mode="#job-justification-notes .edit-mode" data-view-mode="#job-justification-notes .view-mode" data-footer="#job-justification-notes .section-footer">
        <span class="fa fa-pencil"></span>
      </a>
    </span>
    <h6 class="section-title display-4">Justification Notes</h6>
  </div>
  <div class="section-body view-mode">
    <p class="line-height-lg">Our company has a lot to do for our upcoming project. Those working in the development team in other department has been doing these reponsibilities in their spare time, but given their other responsibilities, there have been a lot of errors and the process is moving slowly. The data entry would get done quicker and more accurately with this specific individual responsible for this job.
    </p>
  </div>
  <div class="section-body edit-mode">
    <div class="form-group">
      <label for="" class="form-label">Note</label>
      <textarea name="name" class="form-control" placeholder="Why do you need this role now? How will this help your department?"></textarea>
    </div>
  </div>
  <div class="section-footer">
    <a href="#" class="btn btn-link">Cancel</a>
    <a href="#" class="btn btn-primary">Save Changes</a>
  </div>
</div>
