<div class="section section-success section-editable" id="job-description">
  <div class="section-heading">
    <span class="pull-right">
      <a href="#" class="btn btn-link toggle-btn" data-edit-mode="#job-description .edit-mode" data-view-mode="#job-description .view-mode" data-footer="#job-description .section-footer">
        <span class="fa fa-pencil"></span>
      </a>
    </span>
    <h6 class="section-title display-4">Description</h6>
    <p class="section-subtitle">An overview or summary of what the job is. Required.</p>
  </div>
  <div class="section-body view-mode">
    <p class="line-height-lg">We are looking for a Ruby on Rails developer responsible for managing the interchange of data between the server and the users. Your primary focus will be development of all server-side logic, definition and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end. You will also be responsible for integrating the front-end elements built by your co-workers into the application. Therefore, a basic understanding of front-end technologies is necessary as well.</p>
  </div>
  <div class="section-body edit-mode">
    <div class="form-group">
      <label for="" class="form-label">Job Description</label>
      <textarea name="name" rows="8" cols="80" class="form-control" placeholder="Enter you job description here"></textarea>
    </div>
  </div>
  <div class="section-footer">
    <a href="#" class="btn btn-link">Cancel</a>
    <a href="#" class="btn btn-primary">Save Changes</a>
  </div>
</div>
