<div class="section section-success section-editable" id="job-process">
  <div class="section-heading">
    <span class="pull-right">
      <a href="#" class="btn btn-link toggle-btn" data-edit-mode="#job-process .edit-mode" data-view-mode="#job-process .view-mode" data-footer="#job-process .section-footer">
        <span class="fa fa-pencil"></span>
      </a>
    </span>
    <h6 class="section-title display-4">Process</h6>
    <p class="section-subtitle">The steps the applicant needs to take.</p>
  </div>
  <div class="section-body view-mode">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="#new-process-modal" class="card card-success" data-toggle="modal" data-target="#new-process-modal">
          <div class="card-heading">
            <h6 class="card-title">1</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">General Exams</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Oscar Mendez">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">2</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">First Interview</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">3</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Technical Exam</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Julie Soler">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">4</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Second Interview</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Julie Soler">
              </li>
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Cyrus Buendia">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">5</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Offered<br/><br/></h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">6</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Hired<br/><br/></h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a class="card card-success" style="background-color: #EAEAEA; color: #aaa; border: 2px solid #ccc; box-shadow: none;">
          <div class="card-body" style="height: 175px; text-align: center; font-size: 15px; padding: 24px; display: table-cell; vertical-align: middle;">
            <span class="fa fa-plus" style="display: block; font-size: 40px;"></span>
            Click here to add a step
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section-body edit-mode">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="#new-process-modal" class="card card-success" data-toggle="modal" data-target="#new-process-modal">
          <div class="card-heading">
            <h6 class="card-title">1</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">General Exams</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Oscar Mendez">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">2</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">First Interview</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">3</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Technical Exam</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Julie Soler">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">4</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Second Interview</h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Julie Soler">
              </li>
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Cyrus Buendia">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">5</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Offered<br/><br/></h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a href="" class="card card-success">
          <div class="card-heading">
            <h6 class="card-title">6</h6>
          </div>
          <div class="card-body">
            <h6 class="display-5">Hired<br/><br/></h6>
          </div>
          <div class="card-footer">
            <ul class="list list-inline">
              <li class="mar-bottom-1">
                <img src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <a class="card card-success" style="background-color: #EAEAEA; color: #aaa; border: 2px solid #ccc; box-shadow: none;">
          <div class="card-body" style="height: 175px; text-align: center; font-size: 15px; padding: 24px; display: table-cell; vertical-align: middle;">
            <span class="fa fa-plus" style="display: block; font-size: 40px;"></span>
            Click here to add a step
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section-footer">
    <a href="#" class="btn btn-link">Cancel</a>
    <a href="#" class="btn btn-primary">Save Changes</a>
  </div>
</div>
