<div class="section section-success section-editable" id="job-skills">
  <div class="section-heading">
    <span class="pull-right">
      <a href="#" class="btn btn-link toggle-btn" data-edit-mode="#job-skills .edit-mode" data-view-mode="#job-skills .view-mode" data-footer="#job-skills .section-footer">
        <span class="fa fa-pencil"></span>
      </a>
    </span>
    <h6 class="section-title display-4">Skills</h6>
    <p class="section-subtitle">Strengths and expertise that would be nice for an applicant to have. Optional.</p>
  </div>
  <div class="section-body view-mode">
    <p class="small-label">Leadership &amp; Management Skills</p>
    <p>
      <span class="label label-default label-pills label-sm mar-bottom-2">Decision Making</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Delegation</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Meeting Management</span>
    </p>

    <p class="small-label">Creativity &amp; Communication Skills</p>
    <p>
      <span class="label label-default label-pills label-sm mar-bottom-2">Creative Thinking</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Brainstorming</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Friendliness</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Listening</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Confidence</span>
    </p>

    <p class="small-label">Analysis &amp; Research</p>
    <p>
      <span class="label label-default label-pills label-sm mar-bottom-2">Critical Thinking</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Data Analysis</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Experimentation</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Logic &amp; Reasoning</span>
    </p>

    <p class="small-label">Technical &amp; Information Skills</p>
    <p>
      <span class="label label-default label-pills label-sm mar-bottom-2">RSpec</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Resque</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Object-Oriented Programming</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Clean Code</span>
      <span class="label label-default label-pills label-sm mar-bottom-2">Bower</span>
    </p>
  </div>
  <div class="section-body edit-mode">
    <div class="form-group">
      <label for="" class="form-label">Leadership &amp; Management Skills</label>
      <input type="text" name="" value="" class="form-control" placeholder="Enter Leadership &amp; Management Skills">
    </div>
    <div class="form-group">
      <label for="" class="form-label">Creativity &amp; Communication Skills</label>
      <input type="text" name="" value="" class="form-control" placeholder="Enter Creativity &amp; Communication Skills">
    </div>
    <div class="form-group">
      <label for="" class="form-label">Analysis &amp; Research</label>
      <input type="text" name="" value="" class="form-control" placeholder="Enter Analysis &amp; Research">
    </div>
    <div class="form-group">
      <label for="" class="form-label">Technical &amp; Information Skills</label>
      <input type="text" name="" value="" class="form-control" placeholder="Enter Technical &amp; Information Skills">
    </div>
  </div>
  <div class="section-footer">
    <a href="#" class="btn btn-link">Cancel</a>
    <a href="#" class="btn btn-primary">Save Changes</a>
  </div>
</div>
