<div class="js-html-inspector" data-remove-target="p:first">
  <p>Alert Dismissible</p>
  <div class="alert alert-default alert-dismissible">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    <h6 class="alert-title">Something happened</h6>
    <p>The form was not submitted because of a network error. Please check the <a href="#" class="alert-link">Support Requests</a> page or try again.</p>
  </div>
</div>

<div class="row js-html-inspector" data-replace-target="> div">
  <div class="col-sm-6">
    <div class="alert alert-primary">
      <h6 class="alert-title">Something happened</h6>
      <p>The form was not submitted because of a network error. Please check the <a href="#" class="alert-link">Support Requests</a> page or try again.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-inverse">
      <h6 class="alert-title">Something happened</h6>
      <p>The form was not submitted because of a network error. Please check the <a href="#" class="alert-link">Support Requests</a> page or try again.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-success">
      <h6 class="alert-title">Something happened</h6>
      <p>The form was not submitted because of a network error. Please check the <a href="#" class="alert-link">Support Requests</a> page or try again.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-info">
      <h6 class="alert-title">Something happened</h6>
      <p>The form was not submitted because of a network error. Please check the <a href="#" class="alert-link">Support Requests</a> page or try again.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-warning">
      <h6 class="alert-title">Something happened</h6>
      <p>The form was not submitted because of a network error. Please check the <a href="#" class="alert-link">Support Requests</a> page or try again.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-danger">
      <h6 class="alert-title">Something happened</h6>
      <p>The form was not submitted because of a network error. Please check the <a href="#" class="alert-link">Support Requests</a> page or try again.</p>
    </div>
  </div>
</div>


<p class="lead">Alert Sizes</p>


<div class="row js-html-inspector" data-replace-target="> div">
  <div class="col-sm-6">
    <div class="alert alert-success alert-lg">
      .alert.alert-success
      <a class="alert-link" href="#">a.alert-link</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-info alert-sm">
      .alert.alert-info
      <a class="alert-link" href="#">a.alert-link</a>
    </div>
  </div>
</div>
