<div class="well well-lg js-html-inspector">
  <div class="btn-group">
    <button class="btn btn-default" type="button">Left</button>
    <button class="btn btn-default" type="button">Middle</button>
    <button class="btn btn-default" type="button">Right</button>
  </div>
</div>

<p class="lead">Button Sizes</p>




<p><strong>Large</strong></p>

<p class="js-html-inspector" data-remove-class-target="div.bse-buttons">
  <div class="btn-toolbar bse-buttons">
    <div class="btn-group btn-group-lg">
      <button class="btn btn-default" type="button">Left</button>
      <button class="btn btn-default" type="button">Middle</button>
      <button class="btn btn-default" type="button">Right</button>
    </div>
  </div>
</p>

<p><strong>Small</strong></p>

<p class="js-html-inspector" data-remove-class-target="div.bse-buttons">
  <div class="btn-toolbar bse-buttons">
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" type="button">Left</button>
      <button class="btn btn-default" type="button">Middle</button>
      <button class="btn btn-default" type="button">Right</button>
    </div>
  </div>
</p>



<!--
<p><strong>Large</strong></p>
<p class="js-html-inspector">
  <div class="btn-group btn-group-lg">
    <button class="btn btn-default" type="button">Left</button>
    <button class="btn btn-default" type="button">Middle</button>
    <button class="btn btn-default" type="button">Right</button>
  </div>
</p>

<p><strong>Small</strong></p>
<p class="js-html-inspector">
  <div class="btn-group btn-group-sm">
    <button class="btn btn-default" type="button">Left</button>
    <button class="btn btn-default" type="button">Middle</button>
    <button class="btn btn-default" type="button">Right</button>
  </div>
</p>

<p><strong>Extra Small</strong></p>
<p class="js-html-inspector">
  <div class="btn-group btn-group-xs">
    <button class="btn btn-default" type="button">Left</button>
    <button class="btn btn-default" type="button">Middle</button>
    <button class="btn btn-default" type="button">Right</button>
  </div>
</p> -->

<div class="js-html-inspector" data-remove-target="p:first" data-remove-class-target="div.bse-buttons">
  <p><strong>.btn-toolbar .btn-group</strong></p>
  <div class="btn-toolbar bse-buttons">
    <!-- Large button group -->

    <!-- Small button group -->

    <!-- Extra small button group -->
    <!-- <div class="btn-group btn-group-xs">
      <button class="btn btn-default" type="button">.btn-group-xs #1</button>
      <button class="btn btn-default" type="button">#2</button>
      <button class="btn btn-default" type="button">#3</button>
    </div> -->
  </div>
</div><br>

<div class="btn-toolbar bse-buttons js-html-inspector">
  <!-- Button group with dropdown -->
  <div class="btn-group">
    <button class="btn btn-default" type="button">Left</button>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
        Dropdown
        <span class="fa fa-angle-down fa-lg"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown header</li>
        <li class="active"><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li class="disabled"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <button class="btn btn-default" type="button">Middle</button>
    <button class="btn btn-default" type="button">Right</button>
  </div>

  &nbsp;<!-- Only .btn-group has left padding inside .btn-toolbar -->

  <!-- Vertical button group with dropdown -->
  <div class="btn-group-vertical">
    <button class="btn btn-default" type="button">Top</button>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
        Middle
        <span class="fa fa-angle-down fa-lg"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown header</li>
        <li class="active"><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li class="disabled"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <button class="btn btn-default" type="button">Bottom</button>
  </div>
</div><br>

<div class="js-html-inspector" data-remove-target="p:first">
  <p><strong>.btn-group.btn-group-justified</strong></p>
  <div class="btn-group btn-group-justified">
    <a class="btn btn-default" href="">Left</a>
    <div class="btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="">
        Dropdown
        <span class="fa fa-angle-down fa-lg"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown header</li>
        <li class="active"><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li class="disabled"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <a class="btn btn-default" href="">Middle</a>
    <a class="btn btn-default" href="">Right</a>
  </div>
</div><br>

<div class="js-html-inspector" data-remove-target="p:first" data-remove-class-target="div.bse-buttons">
  <p><strong>.btn-group.dropup</strong></p>
  <!-- Split button dropup -->
  <div class="btn-group dropup bse-buttons">
    <button class="btn btn-default" type="button">DropUp</button>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
      <span class="fa fa-angle-up fa-lg"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Dropdown header</li>
      <li class="active"><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li class="disabled"><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Dropdown header</li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>

  <!-- Split button right dropup -->
  <div class="btn-group dropup">
    <button class="btn btn-default" type="button">DropUp Right</button>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
      <span class="fa fa-angle-up fa-lg"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="dropdown-header">Dropdown header</li>
      <li class="active"><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li class="disabled"><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Dropdown header</li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>
