<div class="clearfix js-html-inspector">
  <div class="dropdown">
    <ul class="dropdown-menu" style="display: block; position: static;">
      <li class="dropdown-header">Dropdown header</li>
      <li class="active"><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li class="disabled"><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Dropdown header</li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>
