<p class="js-html-inspector" data-remove-target="p:first">
  <span class="label label-default">Label Default</span>
  <span class="label label-primary">Label Primary</span>
  <span class="label label-success">Label Success</span>
  <span class="label label-info">Label Info</span>
  <span class="label label-warning">Label Warning</span>
  <span class="label label-danger">Label Danger</span>
  <span class="label label-inverse">Label inverse</span>
</p>

<p class="js-html-inspector" data-remove-target="p:first">
  <span class="badge badge-default">Badge Default</span>
  <span class="badge badge-primary">Badge Primary</span>
  <span class="badge badge-success">Badge Success</span>
  <span class="badge badge-info">Badge Info</span>
  <span class="badge badge-warning">Badge Warning</span>
  <span class="badge badge-danger">Badge Danger</span>
  <span class="badge badge-inverse">Badge inverse</span>
</p>

<p class="js-html-inspector" data-remove-target="p:first">
  <span class="chip chip-default">Chips Default</span>
  <span class="chip chip-primary">Chips Primary</span>
  <span class="chip chip-success">Chips Success</span>
  <span class="chip chip-info">Chips Info</span>
  <span class="chip chip-warning">Chips Warning</span>
  <span class="chip chip-danger">Chips Danger</span>
  <span class="chip chip-inverse">Chips inverse</span>
</p>
