<div class="well well-lg js-html-inspector">
  <ul class="nav nav-pills">
    <li><a href="#">Nav Item</a></li>
    <li class="active"><a href="#">Nav Item Selected</a></li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">Nav Dropdown Item <span class="glyphicon glyphicon-menu-down"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown header</li>
        <li class="active"><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li class="disabled"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
    <li><a href="#">Nav Item</a></li>
    <li class="disabled"><a href="#">Nav Item</a></li>
  </ul>
</div>

<!-- <div class="js-html-inspector" data-remove-target='["p:first","br"]'>
  <br><p><strong>ul.nav.nav-pills.nav-justified</strong></p>
  <ul class="nav nav-pills nav-justified">
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">Nav Dropdown Item <span class="glyphicon glyphicon-menu-down"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown header</li>
        <li class="active"><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li class="disabled"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
    <li><a href="#">Nav Item</a></li>
    <li class="active"><a href="#">Nav Item Selected</a></li>
    <li><a href="#">Nav Item</a></li>
    <li><a href="#">Nav Item</a></li>
  </ul>
</div> -->

<!-- <div class="js-html-inspector" data-remove-target='["p:first","br"]'>
  <br><p><strong>ul.nav.nav-pills.nav-stacked</strong></p>
  <ul class="nav nav-pills nav-stacked">
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">Nav Dropdown Item <span class="glyphicon glyphicon-menu-down"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown header</li>
        <li class="active"><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li class="disabled"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
    <li><a href="#">Nav Item</a></li>
    <li class="active"><a href="#">Nav Item Selected</a></li>
    <li><a href="#">Nav Item</a></li>
    <li><a href="#">Nav Item</a></li>
  </ul>
</div> -->
