<div class="modal fade modal-success" id="job-request-publish-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-5">Publish Job</h6>
      </div>
      <div class="modal-body">
        <p>This job will be set to Open.</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link text-success" data-dismiss="modal" href="#" >Cancel</a>
        <a href="#" class="btn btn-success">Open Job</a>
      </div>
    </div>
  </div>
</div>
