<div class="modal fade modal-default" id="job-request-template-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-5">Add Job</h6>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-template" data-toggle="tab">From a Templates</a></li>
          <li><a href="#tab-job-profile" data-toggle="tab">From a Job Profile</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="tab-template">
            <div class="form-group form-group-lg has-icon left">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Search from a template">
                <span class="form-icon"><i class="fa fa-search"></i></span>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-lg" role="button">Search</button>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-left">
                        <span class="fa fa-file-o fa-3x mar-1"></span>
                      </div>
                      <div class="media-content">
                        <h6>Blank Template</h6>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="lead text-success">Software Engineer</p>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>.Net Programmer</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Ruby On Rails Developer</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Front-End Developer</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="lead text-success">Sales &amp; Marketing</p>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Marketing Associate</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Marketing Analyst</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Digital Marketing Manager</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-job-profile">
            <div class="form-group form-group-lg has-icon left">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Search from a job profile">
                <span class="form-icon"><i class="fa fa-search"></i></span>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-lg" role="button">Search</button>
                </span>
              </div>
            </div>
            <p class="lead text-success">Product Team</p>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>.Net Programmer</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>UX Generalist</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>UI Designer &amp; Developer</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="lead text-success">Marketing</p>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Marketing Associate</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Marketing Analyst</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Digital Marketing Manager</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="lead text-success">Customer Success</p>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Head of Support</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-content">
                        <h6>Customer Advocate</h6>
                        <button class="btn btn-outline-primary btn-sm">View</button>
                        <a href="{{ site.baseurl }}/recruit/jobs/add-job.html" class="btn btn-outline-primary btn-sm">Use</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
