<div class="modal fade modal-default" id="job-request-template-view-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <button class="return" type="button" name="button"><span class="fa fa-angle-left"></span></button>
        <h6 class="modal-title display-5">Ruby on Rails Developer</h6>
      </div>
      <div class="modal-body">
    <div class="section section-success" id="job-information">
      <div class="section-heading">
        <h6 class="section-title display-4">Information</h6>
        <p class="section-subtitle">Basic information about the job. All fields required.</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-information.html %}
    </div>

    <div class="section section-success" id="job-working-conditions">
      <div class="section-heading">
        <h6 class="section-title display-4">Working Condition</h6>
        <p class="section-subtitle">Conditions at work, such as work schedule, shift type, environment, and cultural demands. Optional.</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-working-condition.html %}
    </div>

    <div class="section section-success" id="job-description">
      <div class="section-heading">
        <h6 class="section-title display-4">Description</h6>
        <p class="section-subtitle">An overview or summary of what the job is. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-description.html %}
    </div>

    <div class="section section-success" id="job-responsibilities">
      <div class="section-heading">
        <h6 class="section-title display-4">Responsibilities</h6>
        <p class="section-subtitle">A list of tasks that an applicant is expected to do once hired for the job. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-responsibilities.html %}
    </div>

    <div class="section section-success" id="job-qualifications">
      <div class="section-heading">
        <h6 class="section-title display-4">Qualifications</h6>
        <p class="section-subtitle">A list of things that an applicant must have in order to be qualify for the job. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-qualifications.html %}
    </div>

    <div class="section section-success" id="job-skills">
      <div class="section-heading">
        <h6 class="section-title display-4">Skills</h6>
        <p class="section-subtitle">Strengths and expertise that would be nice for an applicant to have. Optional.</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-skills.html %}
    </div>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default">Go Back</a>
        <a href="#" class="btn btn-primary">Use this template</a>
      </div>
    </div>
  </div>
</div>
