<div class="modal fade modal-default" id="job-request-reject-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-5">Reject job request</h6>
        <p class="modal-subtitle">Note that you would not be able to open this again once submitted.</p>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label" for="">Please state your reason for rejecting.</label>
          <textarea class="form-control" placeholder="Your reason here"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
