<div class="modal fade modal-danger" id="job-request-discard-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-5">Discard Job</h6>
      </div>
      <div class="modal-body">
        <p>Your job request will be discarded and cannot be undone.</p>
        <p>Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link text-danger" data-dismiss="modal" href="#" >Cancel</a>
        <a class="btn btn-danger" href="#">Discard Job</a>
      </div>
    </div>
  </div>
</div>
