<div class="modal fade modal-default" id="process-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-5">Process</h6>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="" class="form-label">Process Name</label>
          <input type="text" name="" value="" class="form-control" placeholder="Enter Process Name">
          <span class="form-text">0/25 character</span>
        </div>
        <div class="form-group form-group-lg">
          <label for="" class="form-label">Team Member</label>
          <div class="input-group">
            <select class="form-control" name="">
              <option value="" selected disabled>Select Team Member</option>
            </select>
            <span class="input-group-btn">
              <a href="#" class="btn btn-link">
                <span class="fa fa-times"></span>
              </a>
            </span>
          </div>
        </div>
        <a href="#"><span class="fa fa-plus fa-right"></span>Add team member</a>
      </div>
      <div class="modal-footer">
        <span class="pull-left">
          <a href="#" class="btn btn-link text-danger"><span class="fa fa-right fa-trash-o"></span>Delete Process</a>
        </span>
        <span class="pull-right">
          <a href="#" class="btn btn-primary">Save Changes</a>
        </span>
      </div>
    </div>
  </div>
</div>
