---
layout: brand

meta-title: JavaScript - Design System
---

<div class="col-md-9" style="background-color: white; padding: 30px; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);">
  <h2 class="page-header" id="js-modals">Modals</h2>
  {% include brand/snippets/javascript/modals.html %}
  <h2 class="page-header" id="js-dropdowns">Dropdowns</h2>
  {% include brand/snippets/javascript/dropdowns.html %}
  <h2 class="page-header" id="js-tabs">Tabs</h2>
  {% include brand/snippets/javascript/tabs.html %}
  <h2 class="page-header" id="js-popovers">Popovers</h2>
  {% include brand/snippets/javascript/popovers.html %}
  <h2 class="page-header" id="js-tooltips">Tooltips</h2>
  {% include brand/snippets/javascript/tooltips.html %}
  <h2 class="page-header" id="js-alerts">Alerts</h2>
  {% include brand/snippets/javascript/alerts.html %}
  <h2 class="page-header" id="js-buttons">Buttons</h2>
  {% include brand/snippets/javascript/buttons.html %}
  <h2 class="page-header" id="js-collapse">Collapse</h2>
  {% include brand/snippets/javascript/collapse.html %}
  <h2 class="page-header" id="js-carousel">Carousel</h2>
  {% include brand/snippets/javascript/carousel.html %}
</div>

<div class="col-md-3">
  {% include brand/components/nav/side-nav/javascript.html %}
</div>
