<div class="modal fade modal-default" id="new-job-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button">&times;</button>
        <h6 class="modal-title display-5">Add a Job</h6>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-template" data-toggle="tab">From a Templates</a></li>
          <li><a href="#tab-job-profile" data-toggle="tab">From a Job Profile</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="tab-template">
            <div class="form-inline">
              <div class="form-group has-icon left">
                <input type="text" class="form-control" id="" placeholder="Search from a Template">
                <span class="form-icon"><i class="fa fa-search"></i></span>
              </div>
              <button type="submit" class="btn btn-primary" role="button">Search</button>
            </div>

            <div class="row">
              <ul class="list list-links">
                <li class="col col-md-4 mar-bottom-3 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-left">
                      <img class="media-object img-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="50">
                    </div>
                    <div class="media-content">
                      <h6>Blank Template</h6>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <p><strong>Software Engineer</strong></p>
            <div class="row">
              <ul class="list list-links">
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                      <h6>.Net Programmer</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>Ruby On Rails Developer</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>Front-End Developer</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <p><strong>Sales &amp; Marketing</strong></p>
            <div class="row">
              <ul class="list list-links">
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                      <h6>Marketing Associate</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>Marketing Analyst</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>Digital Marketing Manager</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane" id="tab-job-profile">
            <div class="form-inline">
              <div class="form-group has-icon left">
                <input type="text" class="form-control" id="" placeholder="Search from a Job Profile">
                <span class="form-icon"><i class="fa fa-search"></i></span>
              </div>
              <button type="submit" class="btn btn-primary" role="button">Search</button>
            </div>
            <p><strong>Product Team</strong></p>
            <div class="row">
              <ul class="list list-links">
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                      <h6>.Net Programmer</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>UX Generalist</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>UI Designer &amp; Developer</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <p><strong>Marketing</strong></p>
            <div class="row">
              <ul class="list list-links">
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                      <h6>Marketing Associate</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>Marketing Analyst</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>Digital Marketing Manager</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <p><strong>Customer Success</strong></p>
            <div class="row">
              <ul class="list list-links">
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                      <h6>Head of Support</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
                <li class="col col-md-4 mar-bottom-3">
                  <a href="#" class="media">
                    <div class="media-content">
                    <h6>Customer Advocate</h6>
                      <button class="btn btn-outline-primary btn-sm">View</button>
                      <button class="btn btn-outline-primary btn-sm">Use</button>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
