//
// Labels
// --------------------------------------------------

.label {
  display: inline-block;
  // padding: $label-padding;
  // font-size: $font-size-sm;
  // font-weight: bold;
  line-height: $line-height-computed;
  color: $label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $border-radius-base;

  border: 1px solid transparent;
  // [converter] extracted a& to a.label

  @include label-size($label-padding-y - 1, $label-padding-x, $font-size-base, $btn-border-radius-base, $btn-height);
  @include label-pills($label-padding-y - 1, ($label-padding-x * 2), $btn-pills-border-radius-base);


  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }

  // @include label-pills($padding-sm-y, $padding-sm-x*2, $btn-pills-border-radius-sm);
}

// Add hover effects, but only for links
a.label {
  &:hover,
  &:focus {
    color: $label-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  @include label-variant($label-default-bg);
  color: $default-color;
}

.label-primary {
  @include label-variant($label-primary-bg);
}

.label-success {
  @include label-variant($label-success-bg);
}

.label-info {
  @include label-variant($label-info-bg);
}

.label-warning {
  @include label-variant($label-warning-bg);
}

.label-danger {
  @include label-variant($label-danger-bg);
}

.label-inverse {
  @include label-variant($label-inverse-bg);
}





.label-outline-default {
  @include label-outline-variant(#747C83);
}

.label-outline-primary {
  @include label-outline-variant($btn-primary);
}
.label-outline-inverse {
  @include label-outline-variant($btn-inverse);
}

.label-outline-success {
  @include label-outline-variant($btn-success);
}
.label-outline-info {
  @include label-outline-variant($btn-info);
}
.label-outline-warning {
  @include label-outline-variant($btn-warning);
}
.label-outline-danger {
  @include label-outline-variant($btn-danger);
}



.label-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include label-size($label-padding-y-lg - 1, $label-padding-x-lg, $font-size-lg,  $btn-border-radius-base, $btn-height-lg);
  @include label-pills($label-padding-y-lg - 1, $label-padding-x-lg*2, $btn-pills-border-radius-lg);
}

.label-sm {
  // line-height: ensure proper height of button next to small input
  @include label-size($label-padding-y-sm - 1, $label-padding-x-sm, $font-size-sm, $btn-border-radius-base, $btn-height-sm);
  @include label-pills($label-padding-y-sm - 1, $label-padding-x-sm*2, $btn-pills-border-radius-sm);
}
