.media {
  // Proper spacing between instances of .media
  // margin-top: 15px;

  &:first-child {
    // margin-top: 0;
  }
}

.media,
.media-content {
  zoom: 1;
  overflow: hidden;
}

.media-content {
  width: 10000px;
}

.media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.img-thumbnail {
    max-width: none;
  }
}

.media-right,
.media > .pull-right {
  padding-left: 16px;
}

.media-left,
.media > .pull-left {
  padding-right: 16px;
}

.media-left,
.media-right,
.media-content {
  display: table-cell;
  vertical-align: top;
}

.media-content-middle {
  vertical-align: middle;
}

.media-content-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  // margin-top: 0;
  // margin-bottom: 5px;
}

.media-title {
  margin: 0;
}

.media-subtitle {
  margin: 0;
  margin-top: 4px;
  color: #747C83;
}

.media-body {
  // margin-top: 16px;
  // margin-bottom: 16px;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}
