//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    float: left;
    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding-y $nav-link-padding-x;

      // font-size: $font-size-base + 1px;
      font-weight: $font-weight-semi-bold;
      line-height: $line-height-computed;
      color: $nav-link-color;

      &:hover,
      &:focus {
        color: $nav-link-hover-color;
        text-decoration: none;
        // background-color: $nav-link-hover-bg;
      }

      @include transition($nav-link-transition);

    }


    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-link-active-color;
        // background-color: $nav-link-active-hover-bg;
        // border-bottom: 2px solid $nav-link-active-hover-border;
        // border-bottom-color: transparent;
        // cursor: default;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-link-disabled-color;

      &:hover,
      &:focus {
        color: $nav-link-disabled-hover-color;
        border-color: $nav-link-disabled-hover-border-color;
        text-decoration: none;
        // background-color: transparent;
        cursor: $default-disabled-cursor;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      // background-color: $nav-link-hover-bg;
      border-color: $nav-link-hover-border-color;
      color: $nav-link-hover-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider;
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }

}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 2px solid $nav-tabs-border-color;
  > li {
    // float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -2px;

    // Actual tabs (as links)
    > a {
      // margin-right: 2px;
      // line-height: $line-height-base;
      border-bottom: 2px solid transparent;
      padding-top: $nav-link-padding-y - 2;
      // border-radius: $border-radius-base $border-radius-base 0 0;
      &:hover,
      &:focus {
        border-color: $nav-tabs-link-hover-border-color;
        // border-color: $nav-tabs-link-hover-border $nav-tabs-link-hover-border $nav-tabs-border;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-link-active-hover-color;
        background-color: $nav-tabs-link-active-hover-bg;
        border-bottom: 2px solid $nav-tabs-link-active-hover-border-color;
        // border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: none;

    // Links rendered as pills
    border-bottom: 1px solid $nav-pills-link-border-color;
    > a {
      // border-radius: $nav-pills-border-radius;
      // padding-left: 0;
      // padding-right: 0;
      border-left: 2px solid transparent;

      &:hover,
      &:focus {
        // text-decoration: none;
        // background-color: $nav-link-hover-bg;
        background-color: $nav-pills-link-hover-bg;
        color: $nav-pills-link-hover-color;
      }

    }
    // + li {
    //   margin-left: 2px;
    // }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        // color: $nav-pills-link-active-hover-color;
        // background-color: $nav-pills-link-active-hover-bg;
        border-left: 2px solid $nav-pills-link-active-hover-color;

      }
    }
    &:last-child > a {
      border-bottom: 0;
    }
    // Open dropdowns
    &.open > a {
      &,
      &:hover,
      &:focus {
        // background-color: $nav-link-hover-bg;
        border-color: $nav-pills-link-border-color;
        color: $nav-pills-link-hover-color;
      }
    }

    &:last-child {
      border: 0;
    }
  }
}


// Stacked pills
// .nav-stacked {
//   > li {
//     float: none;
//     + li {
//       margin-top: 2px;
//       margin-left: 0; // no need for this gap between nav items
//     }
//   }
// }


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
    min-width: 100%;
  }

  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li {

    > a {
      // Override margin from .nav-tabs
      margin-right: 0;
      // border-radius: $border-radius-base;
      border-bottom: 2px solid $nav-tabs-link-justified-border-color;

      &:hover,
      &:focus {
        border-color: $nav-tabs-link-justified-hover-border-color;
      }
    }
    &.open > a {
      &,
      &:hover,
      &:focus {
        // background-color: $nav-link-hover-bg;
        border-color: $nav-tabs-link-hover-border-color;
      }
    }

    &.disabled > a {
      &:hover,
      &:focus {
        border-color: $nav-link-disabled-hover-border-color;
      }
    }

  }
  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-color: $nav-tabs-link-justified-active-border-color;
  }

// }

  @media (min-width: $screen-sm-min) {
    > li > a {
      // border-bottom: 1px solid $nav-tabs-link-justified-border;
      // border-radius: $border-radius-base $border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      // border-bottom-color: $nav-tabs-justified-link-active-border;
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  // margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  @include border-top-radius(0);
}
















// Button Sizes
// --------------------------------------------------

.nav-lg {
  @include nav-size($spacer-12, $spacer-24, $font-size-lg);
}

.nav-sm {
  @include nav-size($spacer-4, $spacer-8, $font-size-xs);
}
