//
// sections
// --------------------------------------------------


// Base class
.section {
  margin-bottom: $section-margin-bottom;
  // background-color: $section-bg;
  // border: solid transparent;
  // border-width: 3px 0 0;
  // border-radius: $section-border-radius;
  // @include box-shadow(0 2px 4px rgba(0,0,0,.25));
}

// section contents
.section-body {
  padding: $section-body-padding;
  @include clearfix;
}

// Optional heading
.section-heading {
  padding-bottom: $spacer-12;
  border-bottom: 1px solid $default-border-color;
  // @include border-top-radius($section-border-radius);
  @include clearfix;

}

// Within heading, strip any `h*` tag of its default margins for spacing.
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: $font-weight-base;
  color: inherit;

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }
}

.section-subtitle {
  color: $text-muted;
  margin-bottom: 0;
  margin-top: 4px;
}

// Optional footer (stays gray in every modifier class)
.section-footer {
  padding-top: $spacer-12;
  // background-color: $section-footer-bg;
  border-top: 1px solid $section-inner-border-color;
  // @include border-bottom-radius(($section-border-radius - 1));
  @include clearfix;
}


// List groups in sections
//
// By default, space out list group content from section headings to account for
// any kind of custom content between the two.

.section {
  > .list-group,
  > .section-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
      padding: 12px 24px;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        // @include border-top-radius(($section-border-radius - 1));
      }
    }

    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        // @include border-bottom-radius(($section-border-radius - 1));
      }
    }
  }
  > .section-heading + .section-collapse > .list-group {
    .list-group-item:first-child {
      @include border-top-radius(0);
    }
  }
}
// Collapse space between when there's no additional content.
.section-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .section-footer {
  border-top-width: 0;
}

// Tables in sections
//
// Place a non-bordered `.table` within a section (not within a `.section-body`) and
// watch it go full width.

.section {
  > .table,
  > .table-responsive > .table,
  > .section-collapse > .table {
    margin-bottom: 0;

    caption {
      padding-left: $section-body-padding;
      padding-right: $section-body-padding;
    }
  }
  // Add border top radius for first one
  > .table:first-child,
  > .table-responsive:first-child > .table:first-child {
    // @include border-top-radius(($section-border-radius - 1));

    > thead:first-child,
    > tbody:first-child {
      > tr:first-child {
        // border-top-left-radius: ($section-border-radius - 1);
        // border-top-right-radius: ($section-border-radius - 1);

        td:first-child,
        th:first-child {
          // border-top-left-radius: ($section-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          // border-top-right-radius: ($section-border-radius - 1);
        }
      }
    }
  }
  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child {
    // @include border-bottom-radius(($section-border-radius - 1));

    > tbody:last-child,
    > tfoot:last-child {
      > tr:last-child {
        // border-bottom-left-radius: ($section-border-radius - 1);
        // border-bottom-right-radius: ($section-border-radius - 1);

        td:first-child,
        th:first-child {
          // border-bottom-left-radius: ($section-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          // border-bottom-right-radius: ($section-border-radius - 1);
        }
      }
    }
  }
  > .section-body + .table,
  > .section-body + .table-responsive,
  > .table + .section-body,
  > .table-responsive + .section-body {
    border-top: 1px solid $table-border-color;
  }
  > .table > tbody:first-child > tr:first-child th,
  > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }
  > .table-bordered,
  > .table-responsive > .table-bordered {
    border: 0;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: 0;
        }
      }
    }
    > thead,
    > tbody {
      > tr:first-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
    > tbody,
    > tfoot {
      > tr:last-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
  }
  > .table-responsive {
    border: 0;
    margin-bottom: 0;
  }
}


// Collapsible sections (aka, accordion)
//
// Wrap a series of sections in `.section-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.section-group {
  margin-bottom: $section-margin-bottom;

  // Tighten up margin so it's only between sections
  .section {
    margin-bottom: 0;
    // border-radius: $section-border-radius;

    + .section {
      margin-top: $spacer-8;
    }
  }

  .section-heading {
    border-bottom: 0;

    + .section-collapse > .section-body,
    + .section-collapse > .list-group {
      border-top: 1px solid $section-inner-border-color;
    }
  }

  .section-footer {
    border-top: 0;
    + .section-collapse .section-body {
      border-bottom: 1px solid $section-inner-border-color;
    }
  }
}


.section-editable {
  padding: 24px;
  margin: -24px;
  margin-bottom: 36px;
  border: 1px solid transparent;

  @include hover-focus {
    background-color: $default-bg;
    border-color: $default-hover-border;
  }

  &.active {
    background-color: $default-bg;
    border-color: $default-hover-border;
  }

  .section-action {
    display: none;
    float: right;
  }

  @include hover-focus {
    .section-action {
      display: block;
      @include transition($btn-transition);
    }
  }


  @include transition($btn-transition);

  .section-footer {
    text-align: right;
  }
}


// Contextual variations
// .section-default {
//   @include section-variant($section-default-bg, $section-default-color);
// }
.section-primary {
  @include section-variant($section-primary);
}
.section-success {
  @include section-variant($section-success);
}
.section-info {
  @include section-variant($section-info);
}
.section-warning {
  @include section-variant($section-warning);
}
.section-danger {
  @include section-variant($section-danger);
}
.section-inverse {
  @include section-variant($section-inverse);
}
