
// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $table-margin-bottom;

  th,
  td {
    padding: $table-cell-padding-y $table-cell-padding-x;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;

    &:first-child {
      padding-left: $table-cell-padding-x * 2;
    }

    &:last-child {
      padding-right: $table-cell-padding-x * 2;
    }

  }

  thead th {
    padding: $table-header-padding;
    vertical-align: bottom;
    border-top: 0;
    border-bottom: ($table-border-width * 2) solid $table-border-color;

    font-size: $font-size-xs;
    text-transform: uppercase;
    white-space: nowrap;
    // line-height: $line-height-sm;
    color: $text-muted;
    font-weight: $font-weight-bold;

    a {
      color: inherit;
    }

  }

  tbody + tbody {
    border-top: ($table-border-width * 2) solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}


//
// Condensed table w/ half padding
//

.table-sm {
  td {
    padding-top: $table-cell-padding-sm-y;
    padding-bottom: $table-cell-padding-sm-y;
  }
}

.table-lg {
  td {
    padding-top: $table-cell-padding-lg-y;
    padding-bottom: $table-cell-padding-lg-y;
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;

    padding-left: $table-cell-padding-x * 2;
    padding-right: $table-cell-padding-x * 2;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-accent-bg;
  }
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    @include hover {
      background-color: $table-hover-bg;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include table-row-variant('table-active', $table-active-bg);
@include table-row-variant('table-success', $table-success-bg);
@include table-row-variant('table-info', $table-info-bg);
@include table-row-variant('table-warning', $table-warning-bg);
@include table-row-variant('table-danger', $table-danger-bg);

// @include table-row-variant('table-disabled', $table-disabled-bg);


.table-disabled {
  color: $default-disabled-color !important;
  .btn {
    @extend .disabled
  }
}

// Inverse styles
//
// Same table markup, but inverted color scheme: dark background and light text.

.thead-inverse {
  th {
    color: $thead-inverse-color;
    background-color: $thead-inverse-bg;
    border-bottom-color: $thead-inverse-border-color;
  }
}

// .thead-default {
//   th {
//     color: $table-head-color;
//     background-color: $table-head-bg;
//   }
// }

.table-inverse {
  color: $table-inverse-color;
  background-color: $table-inverse-bg;

  th,
  td,
  thead th {
    border: $body-bg;
  }

  &.table-bordered {
    border: 0;
  }
}



// Responsive tables
//
// Add `.table-responsive` to `.table`s and we'll make them mobile friendly by
// enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

  // Prevent double border on horizontal scroll due to use of `display: block;`
  &.table-bordered {
    border: 0;
  }
}

























// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}
