<ul class="nav nav-wizard nav-lg">
  <li class="completed">
    <div class="indicator">
      
    </div>
    <a href="#job-information-tab" data-toggle="tab">Job Information</a>
  </li>
  <li class="active">
    <div class="indicator">
      
    </div>
    <a href="#job-benefits-and-perks-tab" data-toggle="tab">Benefits &amp; Perks</a>
  </li>
  <li class="disabled">
    <div class="indicator">
      
    </div>
    <a href="#job-process-and-team-tab" data-toggle="tab">Process &amp; Teams</a>
  </li>
  <li class="disabled">
    <div class="indicator">
      
    </div>
    <a href="#job-justification-notes-tab" data-toggle="tab">Justification Notes</a>
  </li>
  <li class="disabled">
    <div class="indicator">
      
    </div>
    <a href="#job-request-confirmation-tab" data-toggle="tab">Save &amp; Publish</a>
  </li>
</ul>
