---
layout: recruit-add-new-job-profile

meta-title: New Job Request

heading-title: New Job Request
---

<div class="tab-content">
  <div class="tab-pane fade in active" id="job-information-tab">

    <div class="section section-success">
      <div class="section-heading">
        <h6 class="section-title display-4">Job Title</h6>
        <p class="section-subtitle"></p>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="" class="form-label">Job Title</label>
              <input type="text" name="" value="" class="form-control" placeholder="Enter Job Title">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label">Date Needed</label>
              <input type="text" name="" value="" class="form-control" placeholder="Enter Date Needed">
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section section-success" id="job-information">
      <div class="section-heading">
        <h6 class="section-title display-4">Information</h6>
        <p class="section-subtitle">Basic information about the job. All fields required.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-information.html %}
    </div>

    <div class="section section-success" id="job-working-conditions">
      <div class="section-heading">
        <h6 class="section-title display-4">Working Condition</h6>
        <p class="section-subtitle">Conditions at work, such as work schedule, shift type, environment, and cultural demands. Optional.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-working-condition.html %}
    </div>

    <div class="section section-success" id="job-description">
      <div class="section-heading">
        <h6 class="section-title display-4">Description</h6>
        <p class="section-subtitle">An overview or summary of what the job is. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-description.html %}
    </div>

    <div class="section section-success" id="job-responsibilities">
      <div class="section-heading">
        <h6 class="section-title display-4">Responsibilities</h6>
        <p class="section-subtitle">A list of tasks that an applicant is expected to do once hired for the job. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-responsibilities.html %}
    </div>

    <div class="section section-success" id="job-qualifications">
      <div class="section-heading">
        <h6 class="section-title display-4">Qualifications</h6>
        <p class="section-subtitle">A list of things that an applicant must have in order to be qualify for the job. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-qualifications.html %}
    </div>

    <div class="section section-success" id="job-skills">
      <div class="section-heading">
        <h6 class="section-title display-4">Skills</h6>
        <p class="section-subtitle">Strengths and expertise that would be nice for an applicant to have. Optional.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-skills.html %}
    </div>

  </div>

  <div class="tab-pane fade" id="benefits-and-perks-tab">

    <div class="section section-success" id="job-benefits-and-perks">
      <div class="section-heading">
        <h6 class="section-title display-4">Benefits &amp; Perks</h6>
        <p class="section-subtitle">Other monetary benefits outside the basic pay that an applicant will be eligible to, such as transportation allowance, meal allowance, clothing allowance, etc. Optional.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-benefits-and-perks.html %}
    </div>

  </div>

  <div class="tab-pane fade" id="process-and-team-tab">

    <div class="section section-success" id="job-process">
      <div class="section-heading">
        <h6 class="section-title display-4">Process</h6>
        <p class="section-subtitle">The steps the applicant needs to take.</p>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-process.html %}
    </div>

    <div class="section section-success" id="job-teams">
      <div class="section-heading">
        <h6 class="section-title display-4">Team</h6>
        <p class="section-subtitle">What you send to the applicants. This is optional.</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-team.html %}
    </div>

  </div>

  <div class="tab-pane fade" id="justification-notes-tab">

    <div class="section section-success" id="job-justification-notes">
      <div class="section-heading">
        <h6 class="section-title display-4">Justification Notes</h6>
      </div>
      {% include recruit/components/snippets/jobs/edit-mode/job-justification-notes.html %}
    </div>

  </div>

  
  <div class="tab-pane fade" id="applicants-tab">

    <div class="section section-success">
      <div class="section-heading">
        <h2 class="section-title display-4">Applicants</h2>
        <p class="section-subtitle">Sample text</p>
      </div>
      {% include recruit/components/snippets/jobs/view-mode/job-applicants.html %}
    </div>

  </div>

</div>