<div class="modal fade modal-success" id="applicant-profile-confirmation-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title display-5">Applicant Profile Successfully Submmitted!</h6>
      </div>
      <div class="modal-body">
        <p>The <strong>[ Applicant Name ]</strong>'s profile has been successfully created.</p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <a class="btn btn-link" href="{{ site.baseurl }}/recruit/applicants/add-applicant.html" class="btn btn-link">Create New Applicant Profile</a>              
          </div>
          <div class="col-xs-6 text-right">
            <a class="btn btn-link text-success" href="{{ site.baseurl }}/recruit/applicants/">Go back to Applicant List</a>
            <a class="btn btn-success" href="{{ site.baseurl }}/recruit/applicants/profile.html">View Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
