<div class="modal fade modal-default" id="application-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-5">Job Application</h6>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="" class="form-label">Job Applied</label>
              <select class="form-control" name="">
                <option value="" selected disabled>Select Job Applied</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label">Application Date</label>
              <div class="input-group">
                <input type="text" name="" value="" class="form-control" placeholder="Enter Application Date">
                <span class="input-group-btn">
                  <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label">Source Type</label>
              <select class="form-control" name="">
                <option value="" selected disabled>Select Source Type</option>
                <option value="">Client</option>
                <option value="">Internal Referral</option>
                <option value="">Job Fair</option>
                <option value="">JobMatch</option>
                <option value="">JobsDB</option>
                <option value="">Jobstreet</option>
                <option value="">LinkedIn</option>
                <option value="">Monster</option>
                <option value="">Referral</option>
                <option value="">Vendor / Search Partner</option>
                <option value="">Walk In</option>
                <option value="">Word of Mouth</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label">Source Name</label>
              <input type="text" name="" value="" class="form-control" placeholder="Enter From Source">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label">Asking Salary</label>
              <div class="input-group">
                <input type="text" class="form-control" name="" placeholder="0.00">
                <span class="input-group-addon">to</span>
                <input type="text" class="form-control" name="" placeholder="0.00">
              </div>
            </div>
          </div>
        </div>
        <hr class="dashed" />
        <p class="lead text-success">Hiring Process for ( Job Title Role - Job Code )</p>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-success">
              <div class="card-heading">
                <h6 class="card-title">1</h6>
              </div>
              <div class="card-body">
                <h6 class="display-5">General Exams</h6>
                <div class="form-group">
                  <label for="" class="form-label">Date</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Date">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="form-label">Time</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Time">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <ul class="list list-inline">
                  <li class="mar-bottom-1">
                    <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Oscar Mendez">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-success">
              <div class="card-heading">
                <h6 class="card-title">2</h6>
              </div>
              <div class="card-body">
                <h6 class="display-5">First Interview</h6>
                <div class="form-group">
                  <label for="" class="form-label">Date</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Date">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="form-label">Time</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Time">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <ul class="list list-inline">
                  <li class="mar-bottom-1">
                    <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-success">
              <div class="card-heading">
                <h6 class="card-title">3</h6>
              </div>
              <div class="card-body">
                <h6 class="display-5">Technical Exam</h6>
                <div class="form-group">
                  <label for="" class="form-label">Date</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Date">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="form-label">Time</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Time">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <ul class="list list-inline">
                  <li class="mar-bottom-1">
                    <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Julie Soler">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-success">
              <div class="card-heading">
                <h6 class="card-title">4</h6>
              </div>
              <div class="card-body">
                <h6 class="display-5">Second Interview</h6>
                <div class="form-group">
                  <label for="" class="form-label">Date</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Date">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="form-label">Time</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Time">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <ul class="list list-inline">
                  <li class="mar-bottom-1">
                    <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Julie Soler">
                  </li>
                  <li class="mar-bottom-1">
                    <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Cyrus Buendia">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-success">
              <div class="card-heading">
                <h6 class="card-title">5</h6>
              </div>
              <div class="card-body">
                <h6 class="display-5">Offered</h6>
                <div class="form-group">
                  <label for="" class="form-label">Date</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Date">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="form-label">Time</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Time">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <ul class="list list-inline">
                  <li class="mar-bottom-1">
                    <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-success">
              <div class="card-heading">
                <h6 class="card-title">6</h6>
              </div>
              <div class="card-body">
                <h6 class="display-5">Hired</h6>
                <div class="form-group">
                  <label for="" class="form-label">Date</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Date">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="form-label">Time</label>
                  <div class="input-group">
                    <input type="text" name="" value="" class="form-control" placeholder="Enter Time">
                    <span class="input-group-btn">
                      <button class="btn btn-link" type="button"><span class="fa fa-calendar"></span></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <ul class="list list-inline">
                  <li class="mar-bottom-1">
                    <img class="rounded-circle" src="{{ site.baseurl }}/assets/images/avatar.png" width="25" alt="" data-toggle="tooltip" data-placement="top"  title="" data-original-title="Kadin Cruz">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-6 text-left">
            <a class="btn btn-link text-danger" href="" data-dismiss="modal">Delete Job Application</a>              
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-link" href="" data-dismiss="modal">Cancel</a>
            <a class="btn btn-primary" href="">Save Changes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
