<div class="modal fade modal-default" id="applicant-profile-edit-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title display-5">Edit Profile</h6>
        </div>
        <div class="modal-body">
          {% include recruit/components/snippets/applicants/edit-mode/applicant-information.html %}
        </div>
        <div class="modal-footer">
          <a class="btn btn-link" href="" data-dismiss="modal">Cancel</a>
          <a class="btn btn-primary" href="">Save Changes</a>
        </div>
      </div>
    </div>
  </div>
  