---
layout: recruit-add-applicant

meta-title: Add Job

heading-title: Add Applicant

---

<div class="section section-success" id="applicant-information">
  <div class="section-heading">
    <h6 class="section-title display-4">Information</h6>
  </div> 
  {% include recruit/components/snippets/applicants/edit-mode/applicant-information.html %}
</div>

<div class="section section-success" id="applicant-job-applications">
  <div class="section-heading">
    <h6 class="section-title display-4">Job Application</h6>
  </div> 
  {% include recruit/components/snippets/applicants/edit-mode/applicant-job-applications.html %}
</div>

<hr class="dashed">

<div class="text-right">
  <a class="btn btn-link" href="">Cancel</a>
  <a class="btn btn-primary" href="">Add Applicant</a>
</div>