---
layout: recruit-profile

meta-title: Senior Software Engineer - Ruby On Rails

heading-title: Senior Software Engineer - Ruby On Rails
 
heading-primary-button: <button class="btn btn-primary" data-toggle="modal" data-target="#job-request-publish-modal" type="button">Publish</button>

profile-job-code: SERORO42717
profile-department: Sales and Marketing
profile-company: Ayala Land Inc.
profile-date-added: April 25, 2017

heading-badge-text: For Checking
heading-badge-type: warning

navigation:
- text: Job Information
  url: job-information-tab
- text: Benefits &amp; Perks
  url: benefits-and-perks-tab
- text: Process &amp; Team
  url: process-and-team-tab
- text: Justification Notes
  url: justification-notes-tab
- text: Applicants
  url: applicants-tab

---

<div class="tab-content">
  <div class="tab-pane fade in active" id="job-information-tab">

    <div class="section section-success section-editable" id="job-information">
      <div class="section-heading">
        <button class="btn btn-link btn-edit" type="button"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-link btn-close" type="button"><span class="fa fa-times"></span></button>
        <h6 class="section-title display-4">Information</h6>
        <p class="section-subtitle">Basic information about the job. All fields required.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-information.html %}
      {% include recruit/components/snippets/jobs-new/edit-mode/job-information.html %}
      <div class="section-footer">
        <a href="#" class="btn btn-link">Cancel</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
      </div>
    </div>

    <div class="section section-success section-editable" id="job-description">
      <div class="section-heading">
        <button class="btn btn-link btn-edit" type="button"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-link btn-close" type="button"><span class="fa fa-times"></span></button>
        <h6 class="section-title display-4">Description</h6>
        <p class="section-subtitle">An overview or summary of what the job is. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-description.html %}
      {% include recruit/components/snippets/jobs-new/edit-mode/job-description.html %}
      <div class="section-footer">
        <a href="#" class="btn btn-link">Cancel</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
      </div>
    </div>

    <div class="section section-success section-editable" id="job-responsibilities">
      <div class="section-heading">
        <button class="btn btn-link btn-edit" type="button"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-link btn-close" type="button"><span class="fa fa-times"></span></button>
        <h6 class="section-title display-4">Responsibilities</h6>
        <p class="section-subtitle">A list of tasks that an applicant is expected to do once hired for the job. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-responsibilities.html %}
      {% include recruit/components/snippets/jobs-new/edit-mode/job-responsibilities.html %}
      <div class="section-footer">
        <a href="#" class="btn btn-link">Cancel</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
      </div>
    </div>

    <div class="section section-success section-editable" id="job-qualifications">
      <div class="section-heading">
        <button class="btn btn-link btn-edit" type="button"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-link btn-close" type="button"><span class="fa fa-times"></span></button>
        <h6 class="section-title display-4">Qualifications</h6>
        <p class="section-subtitle">A list of things that an applicant must have in order to be qualify for the job. Required.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-qualifications.html %}
      {% include recruit/components/snippets/jobs-new/edit-mode/job-qualifications.html %}
      <div class="section-footer">
        <a href="#" class="btn btn-link">Cancel</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
      </div>
    </div>

    <div class="section section-success section-editable" id="job-skills">
      <div class="section-heading">
        <button class="btn btn-link btn-edit" type="button"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-link btn-close" type="button"><span class="fa fa-times"></span></button>
        <h6 class="section-title display-4">Skills</h6>
        <p class="section-subtitle">Strengths and expertise that would be nice for an applicant to have. Optional.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-skills.html %}
      {% include recruit/components/snippets/jobs-new/edit-mode/job-skills.html %}
      <div class="section-footer">
        <a href="#" class="btn btn-link">Cancel</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="benefits-and-perks-tab">

    <div class="section section-success section-editable" id="job-benefits-and-perks">
      <div class="section-heading">
        <button class="btn btn-link btn-edit" type="button"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-link btn-close" type="button"><span class="fa fa-times"></span></button>
        <h6 class="section-title display-4">Benefits &amp; Perks</h6>
        <p class="section-subtitle">Other monetary benefits outside the basic pay that an applicant will be eligible to, such as transportation allowance, meal allowance, clothing allowance, etc. Optional.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-benefits-and-perks.html %}
      {% include recruit/components/snippets/jobs-new/edit-mode/job-benefits-and-perks.html %}
      <div class="section-footer">
        <a href="#" class="btn btn-link">Cancel</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="process-and-team-tab">

    <div class="section section-success" id="job-process">
      <div class="section-heading">
        <button class="btn btn-link btn-toggle" data-target="#process-modal" data-toggle="modal" type="button"><span class="fa fa-plus fa-right"></span>Add Process</button>
        <h6 class="section-title display-4">Process</h6>
        <p class="section-subtitle">The steps the applicant needs to take.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/edit-mode/job-process.html %}
    </div>

    <div class="section section-success" id="job-teams">
      <div class="section-heading">
        <h6 class="section-title display-4">Team</h6>
        <p class="section-subtitle">What you send to the applicants. This is optional.</p>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-team.html %}
    </div>

  </div>

  <div class="tab-pane fade" id="justification-notes-tab">

    <div class="section section-success section-editable" id="job-justification-notes">
      <div class="section-heading">
        <button class="btn btn-link btn-edit" type="button"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-link btn-close" type="button"><span class="fa fa-times"></span></button>
        <h6 class="section-title display-4">Justification Notes</h6>
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-justification-notes.html %}
      {% include recruit/components/snippets/jobs-new/edit-mode/job-justification-notes.html %}
      <div class="section-footer">
        <a href="#" class="btn btn-link">Cancel</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="applicants-tab">

    <div class="section section-success">
      <div class="section-heading">
        <h2 class="section-title display-4">Applicants</h2>
        <!-- <p class="section-subtitle">Sample text</p> -->
      </div>
      {% include recruit/components/snippets/jobs-new/view-mode/job-applicants.html %}
    </div>

  </div>

</div>