<ul class="nav nav-pills" style="margin-bottom: 16px;">
  <li class="{% if page.url == '/recruit/jobs/profile/job-information.html' %} active {% endif %}">
    <a href="{{ site.baseurl }}/recruit/jobs/profile/job-information.html">Job Information</a>
  </li>
  <li class="{% if page.url == '/recruit/jobs/profile/benefits-and-perks.html' %} active {% endif %}">
    <a href="{{ site.baseurl }}/recruit/jobs/profile/benefits-and-perks.html">Benefits and Perks</a>
  </li>
  <li class="{% if page.url == '/recruit/jobs/profile/forms-and-letters.html' %} active {% endif %}">
    <a href="{{ site.baseurl }}/recruit/jobs/profile/forms-and-letters.html">Forms &amp; Letters</a>
  </li>
  <li class="{% if page.url == '/recruit/jobs/profile/process-and-team.html' %} active {% endif %}">
    <a href="{{ site.baseurl }}/recruit/jobs/profile/process-and-team.html">Process &amp; Team</a>
  </li>
  <li class="{% if page.url == '/recruit/jobs/profile/applicants.html' %} active {% endif %}">
    <a href="{{ site.baseurl }}/recruit/jobs/profile/applicants.html">Applicants</a>
  </li>
  <li class="{% if page.url == '/recruit/jobs/profile/justification-notes.html' %} active {% endif %}">
    <a href="{{ site.baseurl }}/recruit/jobs/profile/justification-notes.html">Justification Notes</a>
  </li>
  <li class="{% if page.url == '/recruit/jobs/profile/activity-logs.html' %} active {% endif %}">
    <a href="{{ site.baseurl }}/recruit/jobs/profile/activity-logs.html">Activity Logs</a>
  </li>
</ul>
<a href="" class="btn btn-danger btn-block">Unpublished this Job Post</a>
