<div data-spy="affix">
  <div class="sidebar hidden-print" id="sidebar">
    <ul class="nav sidenav">
      <li class="active">
        <a href="#components">Components</a>
        <ul class="nav">
          <li><a href="#glyphicons">Glyphicons</a></li>
          <li><a href="#dropdowns">Dropdowns</a></li>
          <li><a href="#button-groups">Button groups</a></li>
          <li><a href="#input-groups">Input groups</a></li>
          <li><a href="#nav-tabs">Nav Tabs</a></li>
          <li><a href="#nav-pills">Nav Pills</a></li>
          <li><a href="#navbar">Navbar</a></li>
          <li><a href="#breadcrumbs">Breadcrumbs</a></li>
          <li><a href="#pagination">Pagination</a></li>
          <li><a href="#labels">Labels</a></li>
          <li><a href="#jumbotron">Jumbotron</a></li>
          <li><a href="#page-header">Page header</a></li>
          <li><a href="#thumbnails">Thumbnails</a></li>
          <li><a href="#alerts">Alerts</a></li>
          <li><a href="#progress-bars">Progress bars</a></li>
          <li><a href="#media-object">Media object</a></li>
          <li><a href="#list-group">List group</a></li>
          <li><a href="#panels">Panels</a></li>
          <li><a href="#wells">Wells</a></li>
        </ul>
      </li>
    </ul>
    <a class="back-to-top" href="#top">Back to top</a>
  </div>

  <!-- builddist:section sidebarBanners -->
  <!-- /builddist -->
</div>
