<div data-spy="affix">
  <div class="sidebar hidden-print" id="sidebar">
    <ul class="nav sidenav">
      <li class="active">
        <a href="#javascript">Javascript</a>
        <ul class="nav">
          <li><a href="#js-modals">Modals</a></li>
          <li><a href="#js-dropdowns">Dropdowns</a></li>
          <li><a href="#js-tabs">Tabs</a></li>
          <li><a href="#js-tooltips">Tooltips</a></li>
          <li><a href="#js-popovers">Popovers</a></li>
          <li><a href="#js-alerts">Alerts</a></li>
          <li><a href="#js-buttons">Buttons</a></li>
          <li><a href="#js-collapse">Collapse</a></li>
          <li><a href="#js-carousel">Carousel</a></li>
        </ul>
      </li>
    </ul>
    <a class="back-to-top" href="#top">Back to top</a>
  </div>

  <!-- builddist:section sidebarBanners -->
  <!-- /builddist -->
</div>
