---
layout: recruit
---

<div class="heading">
  <div class="container">
    <h1 class="heading-title display-3 mar-bottom-2">{{ page.heading-title }}</h1>
    <div class="row">
      <div class="col-md-9">
        <span class="badge badge-warning">For Branding</span>
        <p class="heading-subtitle">Added on April 25, 2017</p>           
      </div>
      <div class="col-md-3 text-right">

        <div class="btn-group dropdown">
          <button class="btn btn-primary" type="button">Publish</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
            <span class="fa fa-angle-down fa-lg"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <!-- <li class="dropdown-header">Dropdown header</li> -->
            <li><a href="#"><span class="fa fa-clone fa-right"></span>Make a Copy</a></li>
            <li><a href="#"><span class="fa fa-trash-o fa-right"></span>Close this Job</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<main class="container">

  <div class="row">

    <div class="col-lg-2 col-md-3">
      {% include recruit/components/nav/side-nav/job-profile.html %}
    </div>

    <div class="col-lg-10 col-md-9">
      <div class="box">
        {{ content }}
      </div>
    </div>

    <div class="col-md-1 hidden">

      <a href="#" class="btn btn-link btn-block"><span class="fa fa-search"></span></a>

      <a href="#" class="btn btn-link btn-block"><span class="fa fa-angle-up fa-lg"></span></a>

      <a href="#" class="btn btn-link btn-block"><span class="fa fa-angle-down fa-lg"></span></a>

      <div class="dropdown">
        <a href="#" class="btn btn-link btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-bars"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Information</a></li>
          <li><a href="#">Responsibilities</a></li>
          <li><a href="#">Requirements</a></li>
          <li><a href="#">Skills</a></li>
        </ul>
      </div>

    </div>

  </div>

</main>
