---
layout: global

style-sheets: recruit
---

<header>
  {% include recruit/components/nav/main-navigation.html %}
</header>

{{ content }}

{% include recruit/components/modals/job-request-modal.html %}
{% include recruit/components/modals/job-template-modal.html %}
{% include recruit/components/modals/process-and-team-modal.html %}
{% include recruit/components/modals/assign-recruiter-modal.html %}
{% include recruit/components/modals/publish-job-request-modal.html %}
{% include recruit/components/modals/reject-job-request-modal.html %}
