---
layout: recruit
---

<div class="heading">
  <div class="container">
    <span class="pull-right">
      <a href="" class="btn btn-outline-danger">Discard Job Post</a>
      <a href="" class="btn btn-outline-default">Preview</a>
    </span>
    <h1 class="heading-title display-3">{{ page.heading-title }}</h1>
  </div>
</div>

<main class="container">

  <div class="row">

    <div class="col-xs-12 col-md-10 col-md-push-1">

      {% include recruit/components/nav/wizard.html %}

      <span class="clearfix"></span>

      <div class="row box">
 
        {{ content }}

        <hr class="dashed" />
        
        <a href="" class="btn btn-primary btn-lg">Save &amp; Continue</a>
      </div>

    </div>

  </div>

</main>
