---
layout: recruit
---

<main class="container box">

  <div class="heading">
    <span class="pull-right hide" style="{% if page.url == '/recruit/jobs/' %} display: block !important; {% endif %}">
      <button class="btn btn-primary" role="button" data-toggle="modal" data-target="#new-job-modal"><span class="fa fa-plus fa-right"></span>Add New Job</button>
      <button class="btn btn-primary" role="button" data-toggle="modal" data-target="#view-job-profile-modal"><span class="fa fa-plus fa-right"></span>View Job Profile</button>
    </span>
    <h1 class="heading-title display-3">{{ page.heading-title }}</h1>
  </div>

  <ul class="nav nav-sm pull-left" id="search-filter">
    <li>
      <a href="#search-filter-dropdown" data-toggle="collapse"><span class="fa fa-search fa-lg fa-right"></span>SEARCH / FILTER</a>
      <div class="collapse" id="search-filter-dropdown">
        <form class="" action="" method="">
          <h6 class="h5">Search</h6>
          <div class="form-group form-group-lg has-icon left">
            <input type="search" class="form-control" id="search-job-name" placeholder="Search Job Name">
            <span class="form-icon"><i class="fa fa-search"></i></span>
          </div>
          <h6 class="h5">Filter</h6>
          <div class="form-group">
            <label class="form-label" for="">Company</label>
            <select class="form-control">
              <option value="">All Company</option>
              <option value="">Ayala Land Inc.</option>
              <option value="">AG Holdings Ltd</option>
              <option value="">Bank of the Philippine Island</option>
              <option value="">Globe Telecom</option>
              <option value="">Manila Water Company Inc.</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-label" for="">Department</label>
            <select class="form-control">
              <option value="">All Department</option>
              <option value="">Sales and Marketing</option>
              <option value="">Customer Support</option>
              <option value="">Engineering</option>
              <option value="">Technology</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-label" for="daterange">Date Added</label>
            <div class="input-daterange input-group" id="daterange">
              <input type="text" class="form-control" name="start" placeholder="Start Date">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end" placeholder="End Date">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="daterange">Date Needed</label>
            <div class="input-daterange input-group" id="daterange">
              <input type="text" class="form-control" name="start" placeholder="Start Date">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end" placeholder="End Date">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Status</label>
            <div data-toggle="buttons">
              <label class="btn btn-outline-primary btn-sm active">
                <input type="checkbox">All Jobs
              </label>
              <label class="btn btn-outline-primary btn-sm">
                <input type="checkbox">Open
              </label>
              <label class="btn btn-outline-primary btn-sm">
                <input type="checkbox">For Approval
              </label>
              <label class="btn btn-outline-primary btn-sm">
                <input type="checkbox">For Branding
              </label>
            </div>
          </div>
          <a href="#" class="btn btn-primary btn-block">Search</a>
        </form>
      </div>
    </li>
    <li>
      <div class="btn-group dropup">
        <button type="button" class="btn btn-primary btn-sm">Filtering is on</button>
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"><span class="fa fa-times"></span></button>
      </div>
    </li>
  </ul>
  <ul class="nav nav-sm pull-right">
    <li class="active"><a href="#">ALL JOBS</a></li>
    <li><a href="#">OPEN</a></li>
    <li><a href="#">FOR APPROVAL</a></li>
    <li><a href="#">FOR BRANDING</a></li>
    <li><a href="#">CLOSED</a></li>
  </ul>

  {{ content }}
</main>
