---
layout: recruit
---

<div class="heading">
  <div class="container">
    <span class="hidden" {% if
      page.url contains '/recruit/jobs/' or
      page.url contains '/recruit/jobs-new/' or
      page.url contains '/recruit/jobs/profile/' or
      page.url contains '/recruit/jobs-new/profile/' or
      page.url contains '/recruit/jobs/add-job/' or
      page.url contains '/recruit/jobs-new/add-job/'
      %} style="display: block !important" {% endif %}>
      {% include recruit/components/snippets/jobs/heading-subtitle.html %}
    </span>
    <span class="hidden" {% if
      page.url contains '/recruit/applicants/' or
      page.url contains '/recruit/applicants/profile/' or
      page.url contains '/recruit/applicants/add-new-applicants/'
      %} style="display: block !important" {% endif %}>
      {% include recruit/components/snippets/applicants/heading-subtitle.html %}
    </span>
  </div>
</div>

<main class="container">

  <div class="row">

    <div class="col-lg-2 col-md-3">
      <ul class="nav nav-pills nav-custom">
        {% for link in page.navigation %}
          <li class="{% if page.url == link.url %} active {% endif %}">
            <div class="indicator"></div>
            <a href="#{{ link.url }}" data-toggle="tab">{{link.text}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-10 col-md-9">
      <div class="box">
        {{ content }}
      </div>
    </div>

  </div>

</main>
