---
layout: global
---

<header>
  {% include recruit/components/nav/main-navigation.html %}
</header>

<div class="heading">
  <div class="container">
    <span class="pull-right hide" style="{% if page.url == '/recruit/jobs/' %} display: block !important; {% endif %}">
      <button class="btn btn-warning btn-pills" data-toggle="modal" data-target="#modal-template"><span class="fa fa-plus fa-right"></span>Add New Job</button>
    </span>
    <h1 class="heading-title display-3">{{ page.heading-title }}</h1>
  </div>
</div>

<main class="container">
  {{ content }}
</main>
