---
layout: design-system

meta-title: Components - Design System

heading-title: Components
---

<div class="col-md-9">
  <div class="box">
    <h2 class="page-header" id="dropdowns">Dropdowns</h2>
    {% include design-system/snippets/components/dropdowns.html %}
    <h2 class="page-header" id="button-groups">Button groups</h2>
    {% include design-system/snippets/components/button-groups.html %}
    <h2 class="page-header" id="input-groups">Input groups</h2>
    {% include design-system/snippets/components/input-groups.html %}
    <h2 class="page-header" id="nav-tabs">Nav Tabs</h2>
    {% include design-system/snippets/components/nav-tabs.html %}
    <h2 class="page-header" id="nav-pills">Nav Pills</h2>
    {% include design-system/snippets/components/nav-pills.html %}
    <h2 class="page-header" id="breadcrumbs">Breadcrumbs</h2>
    {% include design-system/snippets/components/breadcrumbs.html %}
    <h2 class="page-header" id="pagination">Pagination</h2>
    {% include design-system/snippets/components/pagination.html %}
    <h2 class="page-header" id="labels">Labels</h2>
    {% include design-system/snippets/components/labels.html %}
    <h2 class="page-header" id="jumbotron">Jumbotron</h2>
    {% include design-system/snippets/components/jumbotron.html %}
    <h2 class="page-header" id="page-header">Page header</h2>
    {% include design-system/snippets/components/page-header.html %}
    <h2 class="page-header" id="thumbnails">Thumbnails</h2>
    {% include design-system/snippets/components/thumbnails.html %}
    <h2 class="page-header" id="alerts">Alerts</h2>
    {% include design-system/snippets/components/alerts.html %}
    <h2 class="page-header" id="progress-bars">Progress bars</h2>
    {% include design-system/snippets/components/progress-bars.html %}
    <h2 class="page-header" id="media-object">Media object</h2>
    {% include design-system/snippets/components/media-object.html %}
    <h2 class="page-header" id="list-group">List group</h2>
    {% include design-system/snippets/components/list-group.html %}
    <h2 class="page-header" id="panels">Panels</h2>
    {% include design-system/snippets/components/panels.html %}
    <h2 class="page-header" id="wells">Wells</h2>
    {% include design-system/snippets/components/wells.html %}
  </div>
</div>

<div class="col-md-3">
  {% include design-system/components/nav/side-nav/components.html %}
</div>
