---
layout: design-system

meta-title: CSS - Design System

heading-title: CSS
---

<div class="col-md-9">
  <div class="box">
    <h2 class="page-header" id="colors">Color</h2>
    {% include design-system/snippets/css/color.html %}
    <h2 class="page-header" id="typography">Typography</h2>
    {% include design-system/snippets/css/typography.html %}
    <h2 class="page-header" id="buttons">Buttons</h2>
    {% include design-system/snippets/css/buttons.html %}
    <h2 class="page-header" id="forms">Forms</h2>
    {% include design-system/snippets/css/forms.html %}
    <h2 class="page-header" id="images">Images</h2>
    {% include design-system/snippets/css/images.html %}
    <h2 class="page-header" id="tables">Tables</h2>
    {% include design-system/snippets/css/tables.html %}
    <h2 class="page-header" id="utilities">Utilities</h2>
    {% include design-system/snippets/css/utilities.html %}
  </div>
</div>
<div class="col-md-3">
  {% include design-system/components/nav/side-nav/css.html %}
</div>
