---
layout: design-system

meta-title: JavaScript - Design System

heading-title: JavaScript
---

<div class="col-md-9">
  <div class="box">
    <h2 class="page-header" id="js-modals">Modals</h2>
    {% include design-system/snippets/javascript/modals.html %}
    <h2 class="page-header" id="js-dropdowns">Dropdowns</h2>
    {% include design-system/snippets/javascript/dropdowns.html %}
    <h2 class="page-header" id="js-tabs">Tabs</h2>
    {% include design-system/snippets/javascript/tabs.html %}
    <h2 class="page-header" id="js-popovers">Popovers</h2>
    {% include design-system/snippets/javascript/popovers.html %}
    <h2 class="page-header" id="js-tooltips">Tooltips</h2>
    {% include design-system/snippets/javascript/tooltips.html %}
    <h2 class="page-header" id="js-alerts">Alerts</h2>
    {% include design-system/snippets/javascript/alerts.html %}
    <h2 class="page-header" id="js-buttons">Buttons</h2>
    {% include design-system/snippets/javascript/buttons.html %}
    <h2 class="page-header" id="js-collapse">Collapse</h2>
    {% include design-system/snippets/javascript/collapse.html %}
    <h2 class="page-header" id="js-carousel">Carousel</h2>
    {% include design-system/snippets/javascript/carousel.html %}
  </div>
</div>

<div class="col-md-3">
  {% include design-system/components/nav/side-nav/javascript.html %}
</div>
